<ion-header>
    <ion-toolbar>
      <ion-title>reg-type</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <div id="container">
    <h2>Come ti vuoi registrare?</h2>
    <ion-button (click)="setTypeToCliente()" value="cliente" color="primary" expand="block" >Cliente</ion-button>
    <ion-button (click)="setTypeToCommerciante()" value="commerciante" color="primary" expand="block" >Commerciante</ion-button>
    <ion-button (click)="setTypeToCorriere()" value="corriere" color="primary" expand="block">Corriere</ion-button>
    <ion-button color="primary" expand="block" routerLink="/home">Indietro</ion-button>
  </div>
  </ion-content>
  
