<ion-header>
  <ion-toolbar>
    <ion-title>reg-commerciante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating"> Nome</ion-label>
      <ion-input [(ngModel)]= "nome" [name] = "['nome']" [clearOnEdit] = "['false']" [required] = "['true']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Cognome</ion-label>
      <ion-input [(ngModel)]= "cognome" [name] = "['cognome']" [clearOnEdit] = "['false']"  [required] = "['true']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Email</ion-label>
      <ion-input [(ngModel)]= "email" [inputmode] = "['email']" [name] = "['email']" [type] = "['email']" [clearOnEdit] = "['false']"  [required] = "['true']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Password</ion-label>
      <ion-input [(ngModel)]= "password" [name] = "['password']" [clearInput] = "['true']" [type] = "['password']" [clearOnEdit] = "['true']"  [required] = "['true']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Nome del negozio</ion-label>
      <ion-input [(ngModel)]= "nomeNegozio" [name] = "['nomeNegozio']" [clearInput] = "['true']"  [clearOnEdit] = "['true']"  [required] = "['true']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Descrizione del negozio</ion-label>
      <ion-input [(ngModel)]= "descrizione" [name] = "['descrizione']" [clearInput] = "['true']" [clearOnEdit] = "['true']"  [required] = "['true']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Indirizzo del negozio</ion-label>
      <ion-input [(ngModel)]= "indirizzo" [name] = "['indirizzo']" [clearInput] = "['true']" [clearOnEdit] = "['true']"  [required] = "['true']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Orario del negozio</ion-label>
      <ion-input [(ngModel)]= "orario" [name] = "['orario']" [clearInput] = "['true']" [clearOnEdit] = "['true']"  [required] = "['true']"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="registration()" color="primary" expand="block" >Registarti</ion-button>
</ion-content>
