<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Tipo di Utente</ion-label>
      <ion-select id="selecter" placeholder="Seleziona Uno"  [(ngModel)] = "type">
        <ion-select-option value="corriere">Corriere</ion-select-option>
        <ion-select-option value="commerciante">Commerciante</ion-select-option>
        <ion-select-option value="cliente">Cliente</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Email</ion-label>
      <ion-input [(ngModel)]= "email" [inputmode] = "['email']" [name] = "['email']" [type] = "['email']" 
      [clearOnEdit] = "['false']" [required] = "['true']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Password</ion-label>
      <ion-input [(ngModel)]= "password" [name] = "['password']" [clearInput] = "['true']" [type] = "['password']" [clearOnEdit] = "['true']"  [required] = "['true']"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="loginVerify()">log in</ion-button>
</ion-content>