<ion-header>
  <ion-toolbar>
    <ion-title>reg-type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">
  <h2>Come ti vuoi registrare?</h2>
  <ion-button value="cliente" color="primary" expand="block" routerLink ="/registration">Cliente</ion-button>
  <ion-button value="commerciante" color="primary" expand="block" routerLink="/registration/reg-commerciante">Commerciante</ion-button>
  <ion-button value="corriere" color="primary" expand="block" routerLink="/registration">Corriere</ion-button>
  <ion-button color="primary" expand="block" routerLink="">Indietro</ion-button>
</div>
</ion-content>
