<ion-header>
  <ion-toolbar>
    <ion-title>modificaNegozio</ion-title>
    <ion-button id ="logout_button"(click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <table>
      <thead>
        <th>id:  </th>
        <th>nome:  </th>
        <th>descrizione:  </th>
        <th>numero:  </th>
        <th>prezzo:  </th>
        <th>serialCode:  </th>
      </thead>
      <tbody>
        <tr *ngFor="let prodotto of prodotti">
          <td>{{prodotto.id}} </td>
          <td>{{prodotto.nome}} </td>
          <td>{{prodotto.descrizione}} </td>
          <td>{{prodotto.numero}} </td>
          <td>{{prodotto.prezzo}} </td>
          <td>{{prodotto.serialCode}} </td>
        </tr>
      </tbody>
    </table>
    <ion-button routerLink="/commerciante/modifica-negozio/aggiungi-prodotto">Aggiungi prodotto</ion-button>
    <ion-button routerLink="/commerciante/modifica-negozio/elimina-prodotto">Rimuovi prodotto</ion-button>
    <ion-button routerLink="/commerciante/modifica-negozio/cambia-quantita">Cambia quantità</ion-button>
    <ion-button (click)="indietro()">Indietro</ion-button>

  </div>
</ion-content>
