<ion-header>
  <ion-toolbar>
    <ion-title>modificaNegozio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <table>
      <thead>
        <th>id:  </th>
        <th>nome:  </th>
        <th>indirizzo:  </th>
      </thead>
      <tbody>
        <tr>
          <td>cane </td>
          <td>gatto </td>
          <td>pene </td>
        </tr>
      </tbody>
    </table>
    <ion-button>Aggiungi prodotto</ion-button>
    <ion-button>Rimuovi prodotto</ion-button>
    </div>
</ion-content>
