<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HomePage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HomePage</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong> sei nuovo?</strong>
    <ion-button routerLink ="../registration" expand = "block" color = "secondary">Registrati</ion-button>
    <br>
    <strong> accedi</strong>
    <ion-button routerLink ="../login" expand = "block" color = "primary">Accedi</ion-button>
  </div>
</ion-content>
