<ion-header>
  <ion-toolbar>
    <ion-title>gestisciOrdini</ion-title>
    <ion-button id ="logout_button"(click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-item>
      <ion-label>Filtra Ordini</ion-label>
      <ion-select id="selecter" placeholder="Seleziona Uno" (ionChange)="selectFilter($event)" [(ngModel)] = "filtro">
        <ion-select-option value="tutti">Tutti</ion-select-option>
        <ion-select-option value="non completati">Non completati </ion-select-option>
        <ion-select-option value="da soddisfare">Da Soddisfare </ion-select-option>
        <ion-select-option value="per ritiro">Per Ritiro </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tabella Ordini</ion-label>
        <table>
          <thead>
            <th>id: </th>
            <th>numero ordine: </th>
            <th>soldi: </th>
            <th>destinazione: </th>
            <th>stato: </th>
          </thead>
          <tbody>
            <tr *ngFor="let ordine of ordini" >
              <td>{{ordine.id}}</td>
              <td>{{ordine.numeroOrdine}}</td>
              <td>{{ordine.soldi}}</td>
              <td>{{ordine.destinazioneStringa}}</td>
              <td>{{ordine.statoOrdine}}</td>
            </tr>            
          </tbody>
        </table>
    </ion-item>
      <ion-button (click)="getOrdini()">Aggiorna tabella</ion-button>
  <ion-item>
    <ion-label position="floating"> ID Ordine</ion-label>
    <ion-input [(ngModel)]= "id" [clearOnEdit] = "['false']" [required] = "['true']"></ion-input>
  </ion-item>
  <ion-button (click)= "ritiraNegozio()" >Ritira nel negozio</ion-button>
  <ion-button (click)= "inviaChiamata()" >Effettua chiamata al Corriere</ion-button>
  <ion-button (click)="indietro()">Indietro</ion-button>
</div>
</ion-content>
