<ion-header>
  <ion-toolbar>
    <ion-title>cambiaQuantita</ion-title>
    <ion-button id ="logout_button"(click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  id="container">
    <ion-item>
      <ion-label position="floating">ID Prodotto</ion-label>
      <ion-input [(ngModel)]= "id" [required] = "['true']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantità</ion-label>
      <ion-input [(ngModel)]= "quantita" [required] = "['true']"></ion-input>
    </ion-item>
    <ion-button (click)="aggiungi()">Aggiungi</ion-button>
    <ion-button (click)="togli()">Togli</ion-button>
    <ion-button (click)="indietro()">Indietro</ion-button>
    </div>
</ion-content>
